<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'pack_style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="{% static 'scripts.js'%}"></script>
</head>

<body id="profile-body">
    <div class="navbar-main">
        <img id='logo-main' src="../static/images/PackTrack_Logo.png" alt="logo-main">

        <div id="packtrack-menu">
            <ul class="navbar-nav">
                <li><a href="/summary">Summary</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div id="spacer">
                <p><a id="user_active" href="/profile">{{request.session.user_name}}</a></p>
            </div>
        </div>
    </div>
    <div id="pup-section">
        <div id="side-tabs" class="add-main">
            <h5><a id="owner-tab" href="/profile">{{request.session.user_name}}</a></h5>
        </div>
        {%for dog in dogs%}
        <div id="side-tabs">
            <h4><a href="/pet_profile/{{dog.id}}">{{dog.pet_name}}</a></h4>
        </div>
        {%endfor%}
    </div>
    <div id="profile-data">
        {% if validate %}
        <div id="user-grafitti">
            Add Dog
        </div>
        {%else%}
        <div id="user-grafitti">
            {{pets.pet_name}}
        </div>
        {%endif%}
        <div id="BM-profile">
            <span id="BM-title">
                <h2>RER:</h2>
                <br><br>
                <h2>Calories/Day Goal:</h2>
            </span>
            <span id="BM-data">
                {%if validate%}
                    <h2>XX</h2>
                {%else%}
                    <h2>{{rer}}</h2>
                {%endif%}
                <br><br>
                {%if validate%}
                    <h2>XXXX</h2>
                {%else%}
                    <h2>{{mer}}</h2>
                {%endif%}
            </span>
        </div>
        <div class="profile-update">

            {% if validate%}
            <form action="/pet_update/0" method="post">
                {%else%}
                <form action="/pet_update/{{pets.id}}" method="post">
                    {%endif%}
                    <div id="user-update" class="pet-update">
                        {%csrf_token%}
                        <div class="input" id="pet-name">
                            <label for="pet_name">Name: </label>
                            <input type="text" name="pet_name" {%if validate%} placeholder="unknown" {%endif%} value="{{pets.pet_name}}">
                        </div>
                        <input type="hidden" name="validate" value="{{validate}}">
                        <div class="input" id="bday">
                            <label for="pet_bday">Birthday:</label>
                            <input type="date" name="pet_bday" {%if validate%} value="1901-01-01" {%endif%} value="{{pets.pet_bday|date:'Y-m-d'}}">
                        </div>
                        <div class="input" id="pet-gender">
                            <label for="pet_gender">Sex:</label>
                            <select name="pet_gender">
                                <option value="IM" {% if pets.pet_gender == "IM"%} selected {%endif%}>Intact Male
                                </option>
                                <option value="IF" {% if pets.pet_gender == "IF"%} selected {%endif%}>Intact Female
                                </option>
                                <option value="NM" {% if pets.pet_gender == "NM"%} selected {%endif%}>Neutered Male
                                </option>
                                <option value="SF" {% if pets.pet_gender == "SF"%} selected {%endif%}>Spayed Female
                                </option>
                            </select>
                            <img id="pet-profile-img"src="../static/images/pawprint.jpg" alt="pawprint">
                        </div>
                    </div>
                    <div id="body-profile">
                        <div id="pet-body">
                            <div class="input" id="pet-weight" >
                                <label for="pet_weight">Current Weight: </label>
                                <input type="number" name="pet_weight" {%if validate%} value="0" {%endif%} value="{{pets.pet_weight}}">
                            </div>
                            <div class="input activity" id="pet-bodycond">
                                <label  for="pet_bodycond">Body Condition: </label>
                                <select name="pet_bodycond">
                                    <option value="1" {% if pets.pet_bodycond == 1 %} selected {%endif%}>Very Thin</option>
                                    <option value="3" {% if pets.pet_bodycond == 3 %} selected {%endif%}>Underweight</option>
                                    <option value="5" {% if pets.pet_bodycond == 5 %} selected {%endif%}>Ideal</option>
                                    <option value="7" {% if pets.pet_bodycond == 7 %} selected {%endif%}>Overweight</option>
                                    <option value="9" {% if pets.pet_bodycond == 9 %} selected {%endif%}>Obese</option>
                                </select>
                            </div>
                            <div class="input activity" id="pet-act" >
                                <label id="pet-act" for="pet_act_lvl">Activity Level: </label>
                                <select name="pet_act_lvl">
                                    <option value="1" {% if pets.pet_act_lvl == 1 %} selected {%endif%}>Inactive
                                    </option>
                                    <option value="1.2" {% if pets.pet_act_lvl ==  1.2 %} selected {%endif%}>Somewhat Active</option>
                                    <option value="1.4" {% if pets.pet_act_lvl ==  1.4 %} selected {%endif%}>Active</option>
                                    <option value="1.6" {% if pets.pet_act_lvl == 1.6 %} selected {%endif%}>Very Active</option>
                                </select>
                            </div>
                            <div class="input" id="pet-goal">
                                <label for="pet_goal">Goal Weight: </label>
                                <input type="number" name="pet_goal" {%if validate%} value="0" {%endif%} value="{{pets.pet_goal}}">
                            </div>
                            <div class="input rate" id="pet-rate">
                                <label for="pet_rate">Goal Rate: </label>
                                <select name="pet_rate">
                                    <option value="1.2" {% if pets.pet_rate == 1.2 %} selected {%endif%}>Gain</option>
                                    <option value="1" {% if pets.pet_rate == 1 %} selected {%endif%}>Maintain</option>
                                    <option value=".8" {% if pets.pet_rate == .8 %} selected {%endif%}>Lose</option>
                                </select>
                        </div>
                        </div>
                        <div class="perc-info">
                            <div class="input percent">
                                <label for="pet_carb">Carbs</label>
                                <input class="perc" type="number" name="pet_carb" {%if validate%} value="60" {%endif%}
                                    value="{{pets.pet_carb}}">
                            </div>
                            <div class="input percent">
                                <label for="pet_fat">Fat</label>
                                <input class="perc" type="number" name="pet_fat" {%if validate%} value="15" {%endif%} value="{{pets.pet_fat}}">
                            </div>
                            <div class="input percent">
                                <label for="pet_protein">Protein</label>
                                <input class="perc" type="number" name="pet_protein" {%if validate%} value="25" {%endif%} value="{{pets.pet_protein}}">
                            </div>
                        </div>
                    </div>
                    <input class="btn" id="pet-btn" type="submit" value="Submit">
                    {%if not validate%}
                        <button class="btn" id="delete-btn"><a id="delete-link"href="/delete/{{pets.id}}">Delete</button>
                    {%endif%}
                </form>
        </div>
        {%if messages%}
        <ul>
            {%for error in messages%}
            <li>{{error}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
</body>

</html>