<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pack Summary</title>
</head>
<body>
    <h1>{{request.session.user_name}} ! success!</h1>

    <h1>{{user.first_name}}</h1>
    {{user.first_name}} <br>
    {{user.last_name}} <br>
    {{user.email}} <br>
    {{user.birthday}} <br><br>
    {{data.user.first_name}} <br>
    {{data.height}} <br>
    {{data.gender}} <br>
    {{data.activity}} <br>
    {{data.goal}} <br>
    {{data.carb_percent}} % <br>
    {{data.fat_percent}} % <br>
    {{data.protein_percent}} % <br>
    {{data.updated_at}} <br>
</body>
</html>