{% load exectools %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'pack_style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="{% static 'scripts.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    </head>

<body id='summary-body'>
    <div class="navbar-main">
        <img id='logo-main' src="../static/images/PackTrack_Logo.png" alt="logo-main">

        <div id="packtrack-menu">
            <ul class="navbar-nav">
                <li><a href="/summary">Summary</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div id="spacer">
                <p><a id="user_active" href="/profile">{{request.session.user_name}}</a></p>
            </div>
        </div>
    </div>
    <div id="sum-spacer">

    </div>
    <div id="sum-main">
        <div id="profile-pics">
            <div id="gage-pic">
                {% if data.gender == "M" %}
                <img id="male-pic" src="../static/images/user_male.png" alt="male-profile-pic">
                {% else %}
                <img id="female-pic" src="../static/images/user_female.png" alt="female-profile-pic">
                {%endif%}
                <h3>{{user.first_name}}</h3>
            </div>
            <div id="gage-pic">
                <img id="pet-pic" src="../static/images/pet_pic.png" alt="pet-profile-pic">
                {%if dogs%}
                <select name="dog_selector" id="dog_selector" onchange="">
                    {%for dog in dogs%}
                    <option value="{{dog.id}}">{{dog.pet_name}}</option>
                    {%endfor%}
                </select>
                {%else%}
                <a id="selector-add" href="/add_dog">Add a Dog</a>
                {%endif%}
            </div>
        </div>
        <div id="move-back">
            <a id="arrow-l" href="">«</a>
        </div>
        <div id="data-bars">
            <h2 id='date'></h2>
            <div id="user-gages">
                <div class="gages" id="gage1">
                    <h4>Calories</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p>{% exec user "total_cals_day" other_date %}</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p>{{cal}}</p>
                    </div>
                </div>
                <div class="gages">
                    <h4>Fat</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p>{% exec user "total_fat_day" other_date %} g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p>{{fat_goal}} g</p>
                    </div>
                </div>
                <div class="gages">
                    <h4>Carbs</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p>{% exec user "total_carbs_day" other_date %} g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p>{{carb_goal}} g</p>
                    </div>
                </div>
                <div class="gages">
                    <h4>Protein</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p>{% exec user "total_protein_day" other_date %} g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p>{{prot_goal}} g</p>
                    </div>
                </div>
                <div class="gages">
                    <h4>Goal Weight</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p>{{data.current_weight}} lbs</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p>{{data.goal}} lbs</p>
                    </div>
                </div>
            </div>
            <div id="pet-gages">
                {% if dogs %}
                <div class="pgages" id="gage2">
                    <h4>Calories</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p><span id="dog_attr_petcalday"></span></p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p><span id="dog_attr_petcal"></span></p>
                    </div>
                </div>
                <div class="pgages">
                    <h4>Fat</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p><span id="dog_attr_petfatday"></span> g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p><span id="dog_attr_pet_fat"></span> g</p>
                    </div>
                </div>
                <div class="pgages">
                    <h4>Carbs</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p><span id="dog_attr_petcarbday"></span> g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p><span id="dog_attr_pet_carb"></span> g</p>
                    </div>
                </div>
                <div class="pgages">
                    <h4>Protein</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p><span id="dog_attr_petprotday"></span> g</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p><span id="dog_attr_pet_prot"></span> g</p>
                    </div>
                </div>
                <div class="pgages">
                    <h4>Goal Weight</h4>
                    <h5>Current:</h5>
                    <div class="gage-current">
                        <p><span id="dog_attr_pet_weight"></span> lbs</p>
                    </div>
                    <h5>Goal:</h5>
                    <div class="gage-goal">
                        <p><span id="dog_attr_pet_goal"></span> lbs</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="move-forward">
            <a id="arrow-r" href="">»</a>
        </div>
    </div>
    <div id="entries">
        <div class="diary" id="user-entry">
            <h2>{{request.session.user_name}}'s Entry</h2>
            <form id="user-diary-form" action="/user_entry" method="post">
                {%csrf_token%}
                <div id="user-diary-food">
                    <div class="d-input">
                        <label for="food_item">Food Item:</label>
                        <input name="food_item" type="text" placeholder="What did you eat?"><br>
                    </div>
                    <div class="d-input">
                        <label for="calories">Calories:</label>
                        <input name="calories" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="fat">Fat:</label>
                        <input name="fat" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="carbs">Carbs</label>
                        <input name="carbs" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="protein">Protein</label>
                        <input name="protein" type="number" value=0>
                    </div>
                </div>
                <div id="user-diary-activity">
                    <div class="d-input" id="da-input">
                        <label for="activity">Activity:</label>
                        <input name="activity" type="text" placeholder="What did you do?"><br>
                    </div>
                    <div class="d-input">
                        <label for="calories_burned">Calories Burned:</label>
                        <input name="calories_burned" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="user_entry">When ?</label>
                        <input type="date" class="d-today" name="user_entry" value='2020-12-15'><br>
                    </div>
                </div>
                <input class="btn" id="submit-btn" type="submit" value="Submit Entry">
            </form>
        </div>
        <div class="diary" id="pet-entry">
            {% if dogs %}
                <h2><span id="dog_attr_pet_name"></span>'s Entry</h2>
            {% else %}
                <h2><a href="/add_dog">Add a Dog</a></h2>
            {% endif %}
            {% if dogs %}
            <form id="dog-diary-form" action="/pet_entry" method="post">
                {%csrf_token%}
                <div id="user-diary-food">
                    <div class="d-input">
                        <label for="pet_food">Pet's Food Item:</label>
                        <input name="pet_food" type="text" placeholder="What did fido eat?"><br>
                    </div>
                    <input type="hidden" name="pet_id" id="dog_attr_pet_id">
                    <div class="d-input">
                        <label for="pet_cals">Calories:</label>
                        <input name="pet_cals" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="pet_fat">Fat:</label>
                        <input name="pet_fat" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="pet_carbs">Carbs</label>
                        <input name="pet_carbs" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="pet_protein">Protein</label>
                        <input name="pet_protein" type="number" value=0>
                    </div>
                </div>
                <div id="user-diary-activity">
                    <div class="d-input" id="da-input">
                        <label for="pet_activity">Activity:</label>
                        <input name="pet_activity" type="text" placeholder="What did fido do?"><br>
                    </div>
                    <div class="d-input">
                        <label for="petcal_burned">Calories Burned:</label>
                        <input name="petcal_burned" type="number" value=0><br>
                    </div>
                    <div class="d-input">
                        <label for="pet_entry">When ?</label>
                        <input type="date" class="d-today" name="pet_entry" value='2020-12-15'><br>
                    </div>
                </div>
                <input class="btn" id="submit-btn" type="submit" value="Submit Entry">
            </form>
            {% endif %}
        </div>
    </div>
    <div id="diary-list">
        <div class="list" id="user-list">
            {%if user_entries%}
                {% for entry in user_entries%}
                    {% if entry.user_entry == other_date %}
                        <ul>
                            {% if entry.food_item %}
                            <li id="food-entry">🍲 {{request.session.user_name}} had {{entry.food_item}} containing {{entry.calories}} calories, {{entry.fat}} grams of fat,and {{entry.carbs}} grams of carbs, and {{entry.protein}} grams of protein.</li>
                            {% endif %}
                            {% if entry.calories_burned %}
                                <li id="activity-entry"> 💪 {{request.session.user_name}}'s activity: {{entry.activity}} burned {{entry.calories_burned}} calories!</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {%endif%}
        </div>
        <div class="list" id="pet-list">

        </div>
    </div>
    <script>
        let django_date = "{{ diary_date|date:"c" }}"
        let js_date = new Date(django_date);
        let today = js_date.toLocaleDateString();
        $(".today").val(today);

        document.getElementById("date").innerHTML = today;
        // This is the blob you want to dynamically generate in your template
        dog_data = {
            {% for dog in dogs %}
                '{{dog.id}}': {
                    'pet_name': '{{ dog.pet_name }}',
                    'petcal': '{{dog.mer}}',
                    'pet_goal': '{{dog.pet_goal}}',
                    'pet_fat': '{{dog.petFat}}',
                    'pet_carb': '{{dog.petCarb}}',
                    'pet_prot': '{{dog.petProt}}',
                    'pet_weight': '{{dog.pet_weight}}',
                    'pet_id': '{{dog.id}}',
                    'petcalday': '{% exec dog "total_petcals_day" other_date %}',
                    'petfatday': '{% exec dog "total_petfat_day" other_date %}',
                    'petcarbday': '{% exec dog "total_petcarb_day" other_date %}',
                    'petprotday': '{% exec dog "total_petprot_day" other_date %}',
                    

                }{% if not forloop.last %},{% endif %} // this prevents extra commas that sometimes cause syntax errors
                {% endfor %}
            }
            
        dog_entries = {
            {% for dog_id, entries in pet_entries.items %}
                '{{dog_id}}': [
                    {% for entry in entries %}{
                    'peteventdate': '{{entry.pet_entry}}',
                    'petname': '{{entry.pet.pet_name}}',
                    'petfood': '{{entry.pet_food}}',
                    'petcalevent': '{{entry.pet_cals}}',
                    'petfatevent': '{{entry.pet_fat}}',
                    'petcarbevent': '{{entry.pet_carbs}}',
                    'petprotevent': '{{entry.pet_protein}}',
                    'petactevent': '{{entry.pet_activity}}',
                    'petburnevent': '{{entry.pet_calburned}}',
                    'has_food_item': {{ entry.pet_food|boolify }},
                    "has_activity": {{ entry.pet_activity|boolify }},
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]{% if not forloop.last %},{% endif %}
            {% endfor %}
        }



        function handle_dog_selector() {
            dog_id = $("#dog_selector option:selected").attr('value') // Get selected dog id
            my_data = dog_data[dog_id] // Get the data from the dog data object
            pet_id = $("input#dog_attr_pet_id").val(my_data['pet_id'])
            for (const [key, value] of Object.entries(my_data)) { // Loop over the dog data key-values
            $("#dog_attr_"+key).text(value) // Populate any spans whose IDs match the key
            }
            
            $("#pet-list").empty()
            for (let entry of dog_entries[dog_id]) {
                console.log(entry)
                row = $("<p></p>")
                if (entry['has_food_item']) {
                    row.append($("<span> 🍲 "+entry['petname']+" had "+entry['petfood']+" containing "+entry['petcalevent']+" calories, "+entry['petfatevent']+" grams of fat, "+entry['petcarbevent']+" grams of carbs, and "+entry['petprotevent']+" grams of protein </span><br>" ))
                }
                if (entry['has_activity']) {
                    row.append("<p>💪 "+entry['petname']+"'s activity: "+entry['petactevent']+" burned "+entry['petburnevent']+" calories!</p>")
                }
                $("#pet-list").append(row)
            }
        }

        $('#dog_selector').change(handle_dog_selector) // Populate the selected dog's stats on change
        $(document).ready(handle_dog_selector) // Populate the selected dog's stats on page load
    </script>

</body>

</html>